[submodule "frontend"]
	path = frontend
	url = https://github.com/der-nackte-halloumi/frontend.git
[submodule "api"]
	path = api
	url = https://github.com/der-nackte-halloumi/api.git
[submodule "caddy"]
	path = caddy
	url = https://github.com/der-nackte-halloumi/caddy.git
